@import "tailwindcss";

@theme {
  --font-family: "Manrope", sans-serif;
  --font-second: "Bebas Neue", sans-serif;
  --font-third: "Inter", sans-serif;

  --color-cod-gray-950: #0a0a0a;
  --color-woodsmoke-950: #1a1a1a;
  --color-shark-950: #222;
  --color-masala-900: #404040;
  --color-abbey-800: #484848;
  --color-silver-300: #c7c7c7;
  --color-white: #fff;
  --color-yellow-green-300: #d3e97a;
  --color-conifer-400: #bcd95a;
}

@layer base {
  html {
    @apply font-sans;
    scrollbar-gutter: stable;
  }

  body {
    @apply font-family text-silver-300 bg-cod-gray-950 text-base/[160%] lg:text-lg/[150%];
    scrollbar-gutter: stable;
  }
}

button {
  cursor: pointer;
}

@layer components {
  .title {
    @apply font-second text-white text-[2.75rem]/[100%] tracking-[-0.02em] mb-4 lg:text-[4.75rem]/[100%] lg:mb-[2vw];
  }

  .subtitle {
    @apply font-medium text-2xl leading-[140%] text-white mb-3 lg:text-[2rem];
  }

  .underline-animation::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background-color: var(--color-conifer-400);
    transition: width 0.3s ease;
    border-radius: 2px;
  }

  .underline-animation:hover::after {
    width: 100%;
  }
}
